.projects{
   margin-top: 1rem;
  background:#0C234022;
}

.projects-sec{
  margin-top: 2rem;
  padding:0 50px;
    height: fit-content;
  text-indent: 1rem;
  line-height: 25px;
}

.projects-sec h2{
   font-size: 1.5rem;
  color:#002147;
}


   .projects .grid{
  padding:30px;
    display: grid;
    grid-gap: 3rem;
    grid-template-columns: 2fr 2fr 2fr;
     
}
.grid img{
 object-fit: cover;    
  height: 150px;
   margin: 1rem;
  width: auto;
}

  .project-cont{
border: 1px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background: #fff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 600px;

  }
  .project-cont h3{
    font-size: 1.2rem;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    
  }

.project-cont p{
  padding: 0 30px;
  font-size: .8rem;
}
.project-link{
  color: #002147;
  pointer: cursor;
   transition: transform 0.5s ;
}
.project-link:hover{
   color: #800022;
    transform: translateY(-5px);
}

@media screen and (max-width:1000px) {
  .projects .grid{
 grid-template-columns: 1fr 1fr;
  }
  }

@media screen and (max-width:768px) {
 .projects-sec{
         text-align: center;
   }
  
  .projects .grid{
    display: grid;
    grid-template-columns: 1fr;
  }
  .grid img{
    padding: 10px;
  }
   
  }

@media screen and (max-width:600px) {
  .projects .grid{
    justify-content: center;
    margin-left: 1rem;
}
}